/* Background 945x160 */
.background
{
	-fx-border-insets: 10;
  	-fx-background-insets: 10;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(Gaussian, rgba(100, 100, 100, 0.8), 10, 0, 0, 3);
}

/* Color picker 150x25 */
.background_box_couleur
{
	
}

.background_box_couleur:hover
{
	
}

/* Color picker 150x25 */
.background_box_de
{
	
}

.background_box_de:hover
{
	
}

/* Launch button 60x25 */
.background_launch
{
	
}

.background_launch:hover
{
	
}

/* Clear button 60x25 */
.background_clear
{
	
}

.background_clear:hover
{
	
}

/* Top button 60x25 */
.top
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Top.png');
    -fx-background-position: center center;
}

.top:hover
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Top_hover.png');
    -fx-background-position: center center;
}

/* Reduce button 25x25 */
.reduce
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Reduce.png');
    -fx-background-position: center center;
}

.reduce:hover
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Reduce_hover.png');
    -fx-background-position: center center;
}

/* Close button 25x25 */
.close
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Close.png');
    -fx-background-position: center center;
}

.close:hover
{
	-fx-border-style: null;
    -fx-background-color: transparent;
	-fx-background-image: url('/diceroll/view/ressources/JavaFX/Close_hover.png');
    -fx-background-position: center center;
}